body {
    text-align: center;

}

#wordView {
    font-size: 36px;
    background-color: blueviolet;
    color: beige;
    padding: 20px;
    opacity: .75;
    margin-bottom: 10px;
}

#dialogueView, 
#missView, 
#guessListView {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}